$blackColor: #434E5E;
$whiteColor: #FFF;
$lightBlue: #41A4F5;
$blue: #0a71c6;

$paddingMain: 2.5rem 5rem;
$paddingPc: 2.5rem 1.2rem;

$PcMaxWidth: 1200px;
$tabletteMaxWidth: 994px;
$tabletteMinWidth: 768px;
$mobileMaxWidth: 550px;